.contenedorProducto{
    border: 1px solid black;
    margin: 1em;
}
#imagenProductos{
    width: 60%;
    height: 60%;
}
.container{
    margin: auto;
    .float-right{
        width: 50%;
        height: 75%;
    }
    .float-left{
        width: 50%;
        height: 75%;
    }
}