.contenedorProducto {
  border: 1px solid black;
  margin: 1em;
}

#imagenProductos {
  width: 60%;
  height: 60%;
}

.container {
  margin: auto;
}

.container .float-right {
  width: 50%;
  height: 75%;
}

.container .float-left {
  width: 50%;
  height: 75%;
}
/*# sourceMappingURL=estilos.css.map */